# Adminer Configuration
ADMINER_PORT=8080

# Database Configuration
POSTGRES_DB__HOST=localhost
POSTGRES_DB__PORT=5432
POSTGRES_DB__DATABASE=baby_stats
POSTGRES_DB__USER=postgres
POSTGRES_DB__PASSWORD=your_password_here

ADMIN_USER_NAME=user
ADMIN_USER_PASSWORD=secret
